.page-header {
  position: relative;
  height: 300px; /* Pas de hoogte aan zoals nodig */
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Overlay effect */
}

.hero-content {
  position: relative;
  color: white;
  text-align: center; /* Zorg ervoor dat de tekst gecentreerd is */
  padding: 100px 20px; /* Pas de padding aan zoals nodig */
} 